<!-- <section class="container p-5">
  <table class="table table-bordered table-hover text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="oneProduct" *ngFor="let order of orders; let i=index" >
        <th scope="row">{{i+1}}</th>
        <td>{{order.customerId}}</td>
        <td>{{order.date}}</td>
        <td>{{order.status}}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(order._id)"><i class="fa fa-trash-alt"></i></button>
        </td>
        <td><img class="img-fluid productImg" src="http://localhost:3000/{{product.image.replace('images/','')}}" alt=""></td>
      </tr>
    </tbody>
  </table>
</section> -->
