<section class="container mt-5 p-5">
  <h2 class="text-center mt-5">Order</h2>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line1"></div>
  <table class="mt-3 table table-bordered table-hover text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
        <th scope="col">Img</th>
      </tr>
    </thead>
    <tbody>
      <tr class="oneProduct" *ngFor="let product of cartData; let i=index" >
        <th scope="row">{{i+1}}</th>
        <td>{{product.pQuantity}}</td>
        <td>{{product.pPrice}}</td>
        <td>
          <button class="mx-1 btn btn-primary" routerLink="../../product/{{product.productId}}"><i class="fa fa-eye"></i></button>
        </td>
        <td><img class="img-fluid productImg" src="http://localhost:3000/{{product.pImage.replace('images/','')}}" alt=""></td>
      </tr>
      <tr>
        <th scope="row">Total Price </th>
        <td colspan="5" class="fw-bolder fs-4">{{totalPrice}} EGP</td>
      </tr>
    </tbody>
  </table>
</section>
