.productImg {
  width: 5em;
  height: 5em;
}
/*  */
.line1 {
  height: 1px;
  background-color: #00bfa6;
  width: 7%;
  margin: 5px auto;
}
.line2 {
  height: 1px;
  background-color: #00bfa6;
  width: 15%;
  margin: auto;
}
