<section class="container p-5">
  <form class="p-5 border" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)] = "userData.email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="pass"  [(ngModel)] = "userData.pass">
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>
</section>
